{% extends 'base.html' %}
{% load static %}

{% block title %}<title>قوانین سایت</title>{% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/law.css' %}">
    
{% endblock %}


{% block menu %}{% endblock %}

{% block content %}

<div dir="rtl" class="container">
    <div class="text_container">
        <h1>قوانین وستا خاک</h1>
        <ul>
            <li>حقوق مالکیت: تمامی محتواها و علائم تجاری موجود در سایت فروشگاهی وستا خاک متعلق به وستا خاک و یا شرکاء آن می‌باشند و تحت حفاظت قانونی قرار دارند. هرگونه استفاده بدون اجازه از این محتواها ممنوع است.</li>
            <li>حریم خصوصی: وستا خاک از اطلاعات شخصی شما حفاظت می‌کند. انتقال این اطلاعات فقط به منظور انجام خرید شما انجام می‌شود و در هیچ شرایطی به اشخاص ثالث ارائه نخواهد شد.</li>
            <li>نحوه استفاده: هرگونه استفاده بدون اجازه از سایت وستا خاک یا استفاده نامناسب و غیرقانونی از سرویس‌های آن، الزاماً تحت پیگرد قانونی قرار می‌گیرد.</li>
            <li>نظارت وستا خاک: وستا خاک حق دارد تا فعالیت‌های شما را نظارت و بررسی کند و در صورت مشاهده هرگونه تخلف، حساب کاربری شما را مسدود یا حذف کند.</li>
            <li>محدودیت مسئولیت: وستا خاک تلاش می‌کند تا صحت و دقت اطلاعات موجود در سایت را تضمین کند، اما هیچ گونه مسئولیتی در قبال دقت یا کاربرد این اطلاعات نمی‌پذیرد. همچنین، وستا خاک در قبال اشتباهات و خسارات ناشی از استفاده شما از سایت، مسئولیتی ندارد.</li>
            <li>قوانین قابل‌تغییر: وستا خاک حق دارد قوانین را در هر زمان تغییر دهد یا بهبود بخشید. لطفاً قبل از هر استفاده مجدد، بررسی کنید و آشنا شوید.</li>
            <li>تعهدات کاربر: با استفاده از سایت وستا خاک، شما می‌پذیرید که هیچگونه فعالیتی که منافی قوانین کشور، رفتار غیرقانونی، تهدید، تحقیر، فحشاء یا ایجاد مزاحمت برای دیگران باشد، انجام نمی‌دهید.</li>
        </ul>
    </div>
</div>

{% endblock %}

{% block footer %}{% endblock %}